<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href='/assets/css/main.css', rel='stylesheet')
        title index
    body
        .wrapper
            section.section.head
                img(src="img/Header.jpg").head__bg-img
                a(href="").logo
                    img(src="img/logo.png").logo-img
                ul.nav.navbar 
                    li.navbar_home 
                        a(href="").navbar__link 123
                    li.navbar_ourproject 
                        a(href="").navbar__link 345
                    li.navbar_jobs 
                        a(href="").navbar__link 678
                    li.navbar_contact
                        a(href="").navbar__link 90
                ul.nav.navreg
                    li.registrasion
                       a(href="").registrasion__link
                    li.navreg_entry
                       a(href="").registrasion__link
                .head__tagline 
                    |ОАО «Строительный трест №12» 
                    br
                    |Управляющая компания Холдинга

                    br
                    |«СТРОЙТРЕСТ-ХОЛДИНГ»
                .head-info
                    ul.info 
                        li.info__txt 
                            .info__txt_deployed 123123
                        li.info__txt 
                            .info__txt_deployed 345345345
                        li.info__txt 
                            .info__txt_deployed 456456
            section.section.about
                .company
                    .company__picture 
                        img(src="img/trest.jpg").img_trest
                    .company__text ddd
                        a(href="").bytton-details dsdfsdfsdf
                        a(href="").bytton-sertificate НАШИ СЕРТИФИКАТЫ
            section.section.work  
                |dfsdfsdf
            section.section.maps
                .title
                    |КАРТА
                .maps-company