.head{
    height: 600px;
    overflow: hidden;
    position: relative;
}

.head__tagline{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 35px;
    font-weight: 100;
    
}
.logo{
    position: absolute;
    top:10px;
    transform: translate(10%,10%);
}

.nav{
    position: absolute;
    top:10px;
    transform: translate(10%,10%);
    font-size: 14px;    
    color: #ffffff;
} 




.head-info{
    top:100%;
    transform: translateY(-100%);
    width: 100%;
    min-height: 100px;
    background: $blue;
    position: absolute;
}
.info__txt {
    width: 33%;
    text-align: center;
}

