extends ../_tempalte_admin

block content
    //- .admin
    //-     .admin__left-block
            
    //-         hr.admin_line
    //-         ul.menu
    //-             li.menu_panel.menu__home
    //-                 .menu__home-icon
    //-                 .text Главная
    //-             li.menu_panel.menu__works Работы
    //-             li.menu_panel.menu__jobs Вакансии
    //-     .admin__right-block
    //-         .block.block-menu__home Главная
    //-         .block.block-menu__works Наши работы
    //-         .block.block-menu__jobs 
    //-             ul.list-jobs
    //-                 each index in items
    //-                     li.list(id = `${index._id}`)
    //-                         .list_head
    //-                             .list__title= index.name
    //-                             button.button-delete-list x
    //-                         .list-CR
    //-                             .list__C
    //-                                 |Условия
    //-                                 br
    //-                                 each ind in index.conditions   
    //-                                     =`${ind}` 
    //-                                     br
    //-                             .list__R                                
    //-                                 |Требования 
    //-                                 br                                                                   
    //-                                 each ind in index.requirements                                    
    //-                                     =`${ind}` 
    //-                                     br
    //-             button.button-addJobs(type="button") +          
    //-             form.from_addJob(action="/admin/addJob" method="POST")
    //-                 input.from_addJob__name(type="text", name="name"  placeholder="Заголовок")
    //-                 textarea.from_addJob__conditions(name="conditions", cols="30", rows="10" placeholder="Условия")
    //-                 textarea.from_addJob__requirements(name="requirements", cols="30", rows="10" placeholder="Требования")
    //-                 button.from_addJob__submit(type="submit") Отправить
    //-                 button.from_addJob__close(type="button") Отмена
    //- script(src="/js/main.js")
    //- script(src="/js/adminka.js")
    //- script(src="/js/addJobs.js")
    //- script(src="/js/sendAjax.js")
    #CR
        |loading.......