extends ../main

block title
    |index
block content
    section.section.head
        .nav
            a(href="").logo
                img(src="../img/logo.png").logo-img
            ul.navbar 
                li.navbar_home 
                    a(href="").navbar__link Главная
                li.navbar_ourproject 
                    a(href="").navbar__link Наши проекты
                li.navbar_jobs 
                    a(href="").navbar__link Вакансии
                li.navbar_contact
                    a(href="").navbar__link Контакты
            ul.navreg
                li.registrasion
                    a(href="").registrasion__link Авторизация
        .head__tagline 
            |ОАО «Строительный трест №12» 
        ul.info 
            li.info__txt 90
                span.info__txt_deployed 
                    | лет
                .info__txt_deployed
                    |успешной 
                    br
                    |работы
            li.info__txt 500
                span.info__txt_deployed 
                    |объектов
                .info__txt_deployed
                    |более 500 выполненых
                    br
                    |объектов
            li.info__txt 1000 
                span.info__txt_deployed 
                    |работников
                .info__txt_deployed 
                    |более 1000 рабочих 
                    br
                    |мест
    section.section.about
        .company
            .company__picture 
                img(src="../img/trest.jpg").img_trest
            .company__info 
                .company__info-text
                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem 
                    |nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. 
                    |Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit 
                    |lobortis nisl ut aliquip ex ea commodo consequat
                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem 
                    |nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. 
                    |Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit 
                    |lobortis nisl ut aliquip ex ea commodo consequat
                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem 
                    |nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. 
                    |Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit 
                    |lobortis nisl ut aliquip ex ea commodo consequat
                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem 
                    |nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. 
                    |Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit 
                    |lobortis nisl ut aliquip ex ea commodo consequat
                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem 
                    |nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. 
                    |Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit 
                    |lobortis nisl ut aliquip ex ea commodo consequat
                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem 
                    |nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. 
                    |Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit 
                    |lobortis nisl ut aliquip ex ea commodo consequat
                a(href="").bytton-details ПОДРОБНЕЕ
                a(href="").bytton-sertificate НАШИ СЕРТИФИКАТЫ
    section.section.work  
        .title
            |ВЫПОЛНЕНЫЕ РАБОТЫ
        .jobs
            .job
            .job
            .job
            .job
            .job
    //- section.section.maps
    //-     .title
    //-        |КАРТА
    //-     .maps-company
    //- section.section.footer
    //-     .container
    //-         p ОАО «Строительный трест №12»
    //-         | &copy;  2018 |
    //-         i.fa.fa-value(aria-hidden='true') &nbsp;
    //-         a(href='#') Сакович Роман